# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.csproj
*.unityproj
*.pidb
*.booproj
*.svd

# MacOS
.DS_Store

